{{#bootstrap-modal title="Add Intervention" onOpen=attrs.onOpen onClose=attrs.onClose}}
  <form onsubmit={{action 'save'}}>
    <div class="modal-body">
      <div class="intervention-list-group">
        {{#each interventionTypes as |interventionType|}}
          {{add-intervention-modal/intervention-detail intervention=interventionType registerDetailItem=(action 'registerDetailItem') expand=(action 'expandItem')}}
        {{/each}}
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" disabled={{saveBtnDisabled}}>Save</button>
    </div>
  </form>
{{/bootstrap-modal}}