<form class="form-horizontal">
  <div class="form-group">
    <div class="row selected-filter-details">
      <div class="col-xs-6">
        <label class="css-label radio-label" for="male">Patient age is between </label>
        {{input class="input-control" value=model.valueRange.low.value}}
      </div>
      <div class="col-xs-6">
        <label class="css-label radio-label" for="male"> and </label>
        {{input class="input-control" value=model.valueRange.high.value}}
      </div>
    </div>
  </div>
</form>
