<form class="form-horizontal">
  <div class="form-group">
    {{input type="checkbox" name=active checked=item.active id="checkbox-condition-code" class="css-checkbox"}}
    <label for="checkbox-condition-code" class="css-label css-label-box checkbox-label">
      {{#if item.active}}
        Condition code is
      {{else}}
        Condition Code
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if item.active}}
      <div class="row selected-filter-details">
        <div class="col-sm-12">
          <button name="button" {{action "addCode"}}>Add Code</button>
          {{#each code in item.parameter.valueCodeableConcept.coding}}
            {{input classNames="input-control condition" placeholder="input condition name or code" value=code.code}}
          {{/each}}

        </div>
      </div>
    {{/if}}
  </div>
</form>
