<form class="form-horizontal">
  <div class="form-group">
    <div class="row selected-filter-details">
      <div class="col-sm-12">
          {{#each code in model.valueCodeableConcept.coding}}
            <div class="formgroup">
              <label >System</label>
              {{view "select" value=code.system content=codingSystems optionValuePath="content.url" optionLabelPath="content.system" class="form-control"}}
            </div>
            <div class="formgroup">
              <label>Code</label>
              {{input classNames="input-control condition" placeholder="input condition code" value=code.code}}
            </div>
          {{/each}}
      </div>
    </div>
  </div>
</form>