<form class="form-horizontal">
  <div class="form-group">
    {{input type="checkbox" name=active checked=item.active id="checkbox-encounter-code" class="css-checkbox"}}
    <label for="checkbox-encounter-code" class="css-label css-label-box checkbox-label">
      {{#if item.active}}
        Encounter code is
      {{else}}
        Encounter Code
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if item.active}}
      <div class="row selected-filter-details">
        <div class="col-sm-12">
          {{input classNames="input-control encounter" placeholder="input encounter name or code" value=item.parameter.valueCodeableConcept.text}}
        </div>
      </div>
    {{/if}}
  </div>
</form>
