{{log pane.characteristic}}

<div class="col-xs-2 pane-icon">
  <i class="fa fa-fw {{icon}}"></i>
</div>

<div class="col-xs-10 pane-content">
  <div class="row pane-outline">
    <div class="col-xs-11">
      <div class="row">
        {{component filterType characteristic=pane.characteristic createCharacteristic="createCharacteristic" destroyCharacteristic="destroyCharacteristic"}}
      </div>
    </div>

    <div class="col-xs-1 pane-close">
      <button type="button" class="close" {{action "removePane"}} aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
      </button>
    </div>
    <span class="pointer-bottom"></span>
    <span class="pointer-top"></span>
  </div>
</div>
