<form class="form-horizontal">
  <div class="form-group">
    <div class="row selected-filter-details">
      Patient Gender is
      <div class="formgroup">
        {{view "select" value=model.valueCodeableConcept.coding.firstObject.code content=genders class="form-control"}}
      </div>
    </div>
  </div>
</form>
