<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    {{#link-to 'index' class='navbar-brand'}}
      <img class="logo" src="/assets/images/logo-3x.png" alt="Intervention Engine" />
    {{/link-to}}
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      {{#navbar-active-link}}{{#link-to "patients"}}<i class="fa fa-user"></i> Patients{{/link-to}}{{/navbar-active-link}}
      {{#navbar-active-link}}{{#link-to "filters.new"}}<i class="fa fa-filter"></i> Filter Builder{{/link-to}}{{/navbar-active-link}}
      <li><a href="#" onclick={{action "openLogoutModal"}} class="navbar-right"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>
</nav>

{{#if showLogoutModal}}
  {{logout-modal onClose=(action (mut showLogoutModal) false)}}
{{/if}}
