<div class="container login-register">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="panel">
        <div class="panel-title login-register-logo visible-sm visible-xs">
          <img src={{logoLargeURL}} alt="Intervention Engine" />
        </div>
        <div class="panel-body">

          {{yield}}

        </div>
      </div>
    </div>
  </div>
</div>
