<div class="timeline-event {{eventClass}}">
  <div class="timeline-event-text">
    {{event.event.displayText}}
    {{#if event.isEnd}}
    (End)
    {{/if}}
  </div>

  <div class="timeline-event-start-date">
    {{date-format event.effectiveDate}}
  </div>

  <div class="timeline-event-icon">
    <i class="{{iconClass}}"></i>
  </div>

  <span class="pointer-bottom"></span>
  <span class="pointer-top"></span>
</div>
