<div class="row pane">
  <div class="col-xs-2 pane-icon">
    <i {{bind-attr class=":fa :fa-fw icon"}}></i>
  </div>

  <div class="col-xs-10">
    <div class="row pane-content">
      <div class="col-xs-11">
        {{#each item in items}}
          <div class="row">
            {{dynamic-component type=item.componentName item=item}}
          </div>
        {{/each}}
      </div>

      <div class="col-xs-1">
        <button type="button" class="close" {{action "removePane" model}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

