<div class="container">
  <h1>My Filters</h1>
  <ul class="filterList">
    {{#each filter in content}}
      {{#if filter.isNew}}
        {{!-- --}}
      {{else}}
        <li>
          <h2>
            {{#link-to 'filters.show' filter}}
              <i class="fa fa-pie-chart"></i>
              {{#if filter.name}}{{filter.name}}{{else}}Unnamed{{/if}}
            {{/link-to}}
          </h2>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
