<div class="container">

  <div class="title-panel">
    <h1>Create Filter</h1>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Filter Type</h3>
          </div>
        </div>

        <div class="panel-body">
          {{#x-drag templatePath="patient"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-user fa-fw"></i>
              </div>
              Patient
            </div>
          {{/x-drag}}

          {{#x-drag templatePath="condition"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="icon-med-clipboard"></i>
              </div>
              Condition
            </div>
          {{/x-drag}}

          {{#x-drag templatePath="encounter"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-stethoscope fa-fw"></i>
              </div>
              Encounter
            </div>
          {{/x-drag}}
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Filter Details</h3>
          </div>
        </div>

        <div class="panel-body">
          <div>
            {{#x-drop action="addPane" model=model}}
              Filters?
            {{/x-drop}}
          </div>

          <div id="save-new-filter">
            {{input name=name value=name}}
            <button class="btn btn-lg btn-primary"{{action "saveFilter"}}>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
