<div class="container">

  <div class="title-panel">
    <h1>Create Filter</h1>
{{!--     <div class="count" id="patient-count">
    Patients
    </div> --}}
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel filter-type-panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Filter Type</h3>
          </div>
        </div>

        <div class="panel-body">
          {{#x-drag templatePath="patient"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-user fa-fw"></i>
              </div>
              Patient
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/x-drag}}

          {{#x-drag templatePath="condition"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="icon-med-clipboard"></i>
              </div>
              Condition
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/x-drag}}

          {{#x-drag templatePath="encounter"}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-hospital-o fa-fw"></i>
              </div>
              Encounter
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/x-drag}}
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="panel filter-description-panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Filter Details</h3>
          </div>
        </div>

        <div class="panel-body">
          {{#x-drop action="addPane" model=model}}
            {{#if hasFilterPane}}
            {{else}}
              <span class="sub-text">
                No filters. Drag filter type here.
              </span>
            {{/if}}
            <div id="save-new-filter">
              {{!-- {{input name=name value=name}} --}}
              {{!-- <button {{action 'openModal' 'saveFilterModal'}}>Save to My Filters</button> --}}
              <button class="btn btn-lg btn-primary"{{action "saveFilter"}}>Save to My Filters</button>
            </div>
          {{/x-drop}}
        </div>
      </div>
    </div>
  </div>
</div>
