/* -------------------------------- DOM -------------------------------- */

body {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

h1 {
  font-size: 4.8em;
  font-weight: 100;
}

h2 {
  font-size: 2.2em;
}

/* -------------------------------- LOGO -------------------------------- */

.logo {
  margin-top: -20px;
}

/* -------------------------------- NAV -------------------------------- */

.nav {
  padding-right: 44px;
}

/* -------------------------------- BUTTONS -------------------------------- */

.btn-circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border-width: 5px;
  background-color: #fff;
  border-color: $body-bg;

  &.btn-active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #fff;
  }
}

/* -------------------------------- OTHER -------------------------------- */

.sub-text {
  color: lighten($brand-secondary, 40%);
  font-style: italic;
  font-size: 1.2em;
  padding: 10px;
}


svg {
  fill:$brand-primary;
  shape-rendering: geometricPrecision;
}

.active{
  stroke: black;
  stroke-width: 4px;
}

.background {
  fill: $gray-lighter;
}
