.patient-risk-chart {
  .c3-area {
    stroke-width: 0;
    opacity: 1;
  }

  .c3-circle {
    stroke-width: 1px;
    stroke: white;
    fill: $brand-primary !important;
  }

  .c3-tooltip {
    color: #333;
  }
}
