/* -------------------------------- LIST -------------------------------- */

.filterList {
  list-style-type: none;
}

/* -------------------------------- COUNTS -------------------------------- */

.count {

}

/* -------------------------------- FILTER TYPE -------------------------------- */

.filter-type {
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  margin-bottom: 15px;
  padding: 0;
  background-color: $body-bg;
  cursor: move;

  &:hover {
    background-color: $brand-primary;
    color: #fff;
  }


  .filter-type-icon {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
    width: 50px;
    text-align: center;
    background-color: $brand-primary;
    color: #fff;
  }

  .filter-type-chevron {
    float: right;
    line-height: inherit;
    padding-right: 5px;
    font-size: 0.8em;
  }
}

/* -------------------------------- SAVE -------------------------------- */

#save-new-filter {
  text-align: right;
  padding: 10px;
}
