//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.eot");
  src: url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.eot?#iefix") format("embedded-opentype"),
       url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.woff") format("woff"),
       url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.ttf") format("truetype"),
       url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/assets/fontcustom/fontcustom_77142137930e340dc07c7a54adcb1c14.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-adult:before,
.icon-baby:before,
.icon-caregiver:before,
.icon-child:before,
.icon-elderly:before,
.icon-med-clipboard:before,
.icon-medication:before,
.icon-running:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-adult:before { content: "\f100"; }
.icon-baby:before { content: "\f101"; }
.icon-caregiver:before { content: "\f102"; }
.icon-child:before { content: "\f103"; }
.icon-elderly:before { content: "\f104"; }
.icon-med-clipboard:before { content: "\f105"; }
.icon-medication:before { content: "\f106"; }
.icon-running:before { content: "\f107"; }

$font-fontcustom-adult: "\f100";
$font-fontcustom-baby: "\f101";
$font-fontcustom-caregiver: "\f102";
$font-fontcustom-child: "\f103";
$font-fontcustom-elderly: "\f104";
$font-fontcustom-med-clipboard: "\f105";
$font-fontcustom-medication: "\f106";
$font-fontcustom-running: "\f107";
