form {
  margin: 10px;
  font-size: 20px;
  font-weight: 200;
}

label {
  font-weight: 200;
  font-size: 20px;
}

input {
  padding-left: 15px;
}

input.condition,
input.encounter {
  width: 100%;
  border: 1px solid $brand-secondary;
  height: 45px;
  margin-top: -10px;
  padding-left: 20px;
}

input.login-input {
  border: 1px solid $brand-secondary;
  height: 45px;
  border-radius: 0;
}

.form-group-striped {
  > .form-group:nth-child(odd) {
    background-color: $table-bg-accent;
  }
}

/* ------------------------- INPUT PLACEHOLDERS ---------------------------- */

@mixin placeholder {
  color: lighten($brand-secondary, 40%);
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
  padding: 2px;
}

@mixin placeholder-focus {
  color: transparent;
}

::-webkit-input-placeholder,
:focus::-webkit-input-placeholder {
  @include placeholder;
}

:focus::-webkit-input-placeholder {
  @include placeholder-focus;
}

:-moz-placeholder,
:focus:-moz-placeholder { /* Firefox 18- */
  @include placeholder;
}

:focus:-moz-placeholder { /* Firefox 18- */
  @include placeholder-focus;
}

::-moz-placeholder,
:focus::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder;
}

:focus::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder-focus;
}

:-ms-input-placeholder,
:focus:-ms-input-placeholder {
   @include placeholder;
}

:focus:-ms-input-placeholder {
   @include placeholder-focus;
}

/* ------------------------- CHECKBOXES & RADIO BUTTONS -------------------- */

input[type=checkbox].css-checkbox,
input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label,
input[type=radio].css-checkbox + label.css-label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label,
input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -31px;
}

label.css-label {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.css-label-box {
  background-image: url(/assets/images/checkbox-style.png);
}

label.css-label-circle {
  background-image: url(/assets/images/radio-style.png);
}

label.checkbox-label {
  padding-left: 40px;
}

label.radio-label {
  padding-left: 35px;
}

/* ------------------------- FORM GROUP ------------------------------------ */

.form-group {
  padding: 5px 0;

  .input-addon {
    position: relative;

    .left-addon-icon,
    .right-addon-icon {
      position: absolute;
      padding: 8px 0 8px 15px;
      pointer-events: none;
      line-height: 25px;
      color: lighten($brand-secondary, 40%);
    }
  }

  .left-addon {
    .left-addon-icon {
      left: 0;
    }

    input.login-input {
      padding-left: 40px;
    }
  }

  .right-addon {
    .right-addon-icon {
      right: 0;
    }

    input.login-input {
      padding-right: 40px;
    }
  }
}

.form-horizontal {
  margin: 0;
}

.form-group-striped {
  > .form-group:nth-child(odd) {
    background-color: $table-bg-accent;
  }

  .form-group {
    margin: 0;
    padding: 5px 2px 2px 15px;
    border-bottom: 1px solid $body-bg;

    label {
      font-size: 16px;
      line-height: 16px;
    }

    i {
      font-size: 14px;
      padding: 10px 10px 0 0;
      color: lighten($brand-secondary, 30%);
    }
  }
}

/* ------------------------- FORM INPUT ------------------------------------ */

.form-input {
  border: 1px solid lighten($brand-secondary, 30%);
  border-radius: 0;
  padding-left: 50px;
  height: 40px;
  line-height: 1.5;
}

// overwrite color of background and text for Chrome autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: $brand-secondary !important;
}

/* ------------------------- VALIDATIONS ----------------------------------- */

@mixin validation-styles {
  .form-control {
    border-color: lighten($brand-secondary, 30%);

    &:focus {
      border-color: lighten($brand-secondary, 30%);
      box-shadow: none;
    }
  }
}

.has-error,
.has-success {
  @include validation-styles;
}

.has-error {
  .form-control-feedback {
    color: $brand-alert;
  }
}

.has-success {
  .form-control-feedback {
    color: $brand-primary;
  }
}

.form-control-feedback {
  padding-top: 10px;
}

.form-control-feedback-clear {
  pointer-events: auto;
}

.alert {
  margin: auto;
  border-radius: 0;
  padding: 10px;
  text-align: center;

  @include respond-to('desktop-wide') {
    position: absolute;
    top: 9px;
    left: -3px;
    width: 495px;
  }

  @include respond-to('desktop') {
    position: absolute;
    top: 9px;
    left: 28px;
    width: 495px;
  }

  @include respond-to('tablet') {
    width: 100%;
  }

  @include respond-to('mobile') {
    min-width: 448px;
    width: 100%;
  }

  &.alert-danger {
    background-color: lighten($brand-alert, 35%);
    color: $brand-alert;
    border: none;
  }

  &.alert-success {
    background-color: lighten($brand-primary, 35%);
    color: $brand-primary;
    border: none;
  }
}
