/* ------------------------- MIXINS ---------------------------------------- */

@mixin login-background($padding) {
  background: $brand-primary url("/assets/images/desktop-login-background-image.png") 50% 14px no-repeat;
  background-attachment: scroll;
  padding-bottom: $padding;
}

/* ------------------------- LOGIN ----------------------------------------- */

.login-content {
  @include respond-to(non-handheld) {
    @include login-background(130px);
  }

  @include respond-to(handheld) {
    background-color: $brand-primary;
  }

  .login {
    @include respond-to(non-handheld) {
      margin-top: 260px;
    }

    @include respond-to(handheld) {
      margin-top: 150px;
    }

    .panel {
      min-width: 450px;

      @include respond-to(non-handheld) {
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 500px;
      }

      @include respond-to(desktop-wide) {
        margin: 20px 0 0 -15px;
      }

      @include respond-to(desktop) {
        margin: 20px 0 0 15px;
      }
    }

    .form-login {
      margin: 50px 40px 20px 40px;

      .form-group {
        padding: 5px 0;

        .input-addon {
          position: relative;

          .glyphicon, .fa {
            position: absolute;
            padding: 8px 0 8px 15px;
            pointer-events: none;
            line-height: 25px;
            color: lighten($brand-secondary, 40%);
          }
        }

        .left-addon {
          .glyphicon, .fa {
            left: 0;
          }

          input.login-input {
            padding-left: 40px;
          }
        }

        .right-addon {
          .glyphicon, .fa {
            right: 0;
          }

          input.login-input {
            padding-right: 40px;
          }
        }
      }
    }

    .login-logo {
      background-color: $brand-secondary;
      text-align: center;

      img {
        padding: 20px;
        width: 400px;
      }
    }

    .login-footer {
      margin: 12px;

      @include respond-to(handheld) {
        background-color: $brand-secondary;
        height: 70px;
        padding-top: 15px;
      }

      .login-footer-right {
        text-align: right;
      }
    }

    // overwrite background color of Chrome autofill
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
  }
}
