.review-patient-modal-body,
.add-to-huddle-modal-body,
.logout-modal-body {
  margin: 25px 60px;

  .form-group { margin: 0; }

  label {
    display: block;
    text-align: right;
  }

  textarea {
    width: 100%;
  }

  textarea[disabled] {
    cursor: not-allowed;
    background-color: #eee;
  }
}

.logout-modal-body {
  .logout-modal-body-text {
    font-size: 1.2em;
  }

  i {
    font-size: 2em;
    color: $brand-alert;
    margin-right: 10px;
  }
}

.modal-footer .btn {
  position: relative;
}
