/* -------------------------------- TITLE PANELS -------------------------------- */

.title-panel {
  background-color: #fff;
  margin: -20px -9999rem 20px -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;

  .title-text {
    font-size: 4.8em;
    font-weight: 100;
  }
}

/* -------------------------------- CONTENT PANELS -------------------------------- */

.panel {
  margin-bottom: 0;

  .panel-heading {
    border-bottom: 1px solid $body-bg;
    padding: 0;
    margin: 0;

    .panel-title, .collapse-panel-title {
      font-size: 20px;
      line-height: 20px;
      padding: 20px;
    }

    .collapse-panel-title {
      background-color: $brand-primary;

      a {
        display: block;
        text-decoration: none;
        color: #fff;
      }

      .collapsed {
        .fa-chevron-down {
          @extend .fa-rotate-270;
        }
      }
    }
  }

  .panel-body {
    margin: 0;
    padding: 0;
  }
}
