/* -------------------------------- TITLE PANELS -------------------------------- */

.title-panel {
  background-color: #fff;
  margin: -20px -9999rem 20px -9999rem;
  padding: 0.25rem 9999rem; // add back negative margin value
  @include respond-to(tablet) {
    text-align: center;
    margin-bottom: 10px;
  }
  @include respond-to(mobile) { text-align: center; }

  .title-text {
    font-size: 4.8em;
    font-weight: 100;
    padding-left: 15px;
  }
}

/* -------------------------------- CONTENT PANELS -------------------------------- */

.panel {
  margin: 0;

  .panel-heading {
    border-bottom: 1px solid $body-bg;
    padding: 0;
    margin: 0;

    .panel-title, .collapse-panel-title {
      font-size: 18px;
      line-height: 18px;
      padding: 15px;
    }

    .collapse-panel-title {
      color: #fff;
      background-color: $navbar-inverse-bg;

      a {
        display: block;
        text-decoration: none;
        color: #fff;
      }

      .collapsed {
        .fa-chevron-down {
          @extend .fa-rotate-270;
        }
      }
    }
  }

  .panel-heading-alt {
    background-color: $brand-primary;
    border-bottom: 1px solid $body-bg;
    padding: 0;
    margin: 0;

    .panel-title {
      color: #fff;
      font-size: 14px;
      line-height: 14px;
      padding: 10px 5px;
    }
  }

  .panel-body {
    margin: 0;
    padding: 0;
  }
}

.has-nested-panel {
  & > .panel-heading {
    border-bottom: 0;
  }

  & > .panel-body {
    border-left: 10px solid $navbar-inverse-bg;
  }

  .panel {
    border: 0;

    .panel-heading {
      border-bottom: 1px solid $navbar-inverse-bg;

      .collapse-panel-title {
        background-color: $navbar-inverse-link-active-bg;
      }
    }
  }
}

#chooseRiskScore {
  padding: 16px;

  .slider-horizontal {
    width: 160px;
  }

  .slider-selection {
    background: #65a1c6;
  }

  .low-value,
  .high-value {
    display: inline-block;
  }

  .low-value {
    margin-right: 15px;
  }

  .high-value {
    margin-left: 15px;
  }
}

#chooseSortBy {
  .btn-group {
    margin-right: 4px;
  }

  .btn {
    .fa {
      color: $text-color;
      padding: 0;
    }

    padding: 4px;
  }

  .btn-default {
    background-color: #fff;
  }

  .btn-active {
    background-color: #65a1c6;

    .fa {
      color: #fff;
    }
  }
}
