.search {
  // display: inline-block;
  margin: 15px auto;
  padding: 0 10px;
  border: 1px solid lighten($brand-secondary, 60%);
  border-radius: 15px;
  height: 28px;
  font-size: 16px;

  .form-control,
  .btn {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: lighten($brand-secondary, 40%);
  }

  .form-control {
    height: 25px;
    // width: 180px;
    padding-left: 10px;
    color: $brand-secondary;
  }

  &.search-panel {
    width: 90%;
    margin-left: 15px;
  }

  &.search-timeline {
    // width: 85%;
    margin-left: 35px;
  }
}


