/* -------------------------------- COLORS -------------------------------- */
$brand-primary: #5D8FAE; // blue
$brand-secondary: #454545; // custom - dark gray
$brand-alert: #E2495C; // custom - red
$body-bg: #EEEEEE; // light gray
$headings-color: $brand-secondary;
$btn-default-bg: $brand-primary;
$navbar-inverse-bg: $brand-secondary;
$navbar-inverse-color: #ffffff;
$navbar-inverse-link-color: $navbar-inverse-color;

/* -------------------------------- DIMENSIONS -------------------------------- */
$navbar-height: 83px;
$panel-border-radius: 0px;
$border-radius-large: 0px;
$headings-font-weight: 200;

/* -------------------------------- PATHS -------------------------------- */
$icon-font-path: '/assets/bootstrap/';
$fa-font-path: '/assets/fontawesome';
