<header>
  <div class="pull-right">
    <i class="fa fa-fw fa-check-circle text-muted"></i>
  </div>
  <div class="intervention-icon">
    <i class="{{intervention.iconClassnames}} fa-fw"></i>
  </div>
  <div class="intervention-name">
    {{intervention.name}}
  </div>
</header>
<div class="collapsible-panel" style="display:none;">
  {{textarea value=detail placeholder="Optional description..."}}
</div>