<div class="container">
  <h1>My Patients</h1>
  <ul class="filterList">
    {{#each patient in content}}
      <li>
        <h2>
            <p>Hello</p>
            <i class="fa fa-user"></i>
            {{patient.name}}
        </h2>
      </li>
    {{/each}}
  </ul>
</div>