<div class="container">
  <div class="title-panel">
    <span class="title-text">My Patients</span>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>
              {{input class="input-control" placeholder="search for patient" value=item.parameter.valueCodeableConcept.text}}
            </h3>
          </div>
        </div>

        <div class="panel-body">
          <ul class="filterList">
            {{#each patient in content}}
              <li>
                <h2>
                  {{#link-to 'patients.show' patient}}
                    <i class="fa fa-user"></i>
                    {{patient.fullName}}
                  {{/link-to}}
                </h2>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
