<div class="row">
  <div class="col-xs-12">
    <div class="patient-panel">
      <div class="patient-panel-header">
        {{#link-to 'patients.index'}}<i class="fa fa-chevron-left"></i>  Back to Patient List{{/link-to}}
        <div class="pull-right">
          1 / 18 <i class="fa fa-chevron-right"></i>
        </div>
      </div>
      <div class="patient-panel-body clearfix">
        {{patient-viewer
          riskAssessments=riskAssessments
          patient=model
          currentAssessment=currentAssessment
          selectedCategory=selectedCategory
          huddles=huddles
          setRiskAssessment=(action "setRiskAssessment")
          selectCategory=(action "selectCategory")
          openAddInterventionModal=(action 'openAddInterventionModal')
          openAddHuddleModal=(action 'openAddHuddleModal')
          openReviewPatientModal=(action 'openReviewPatientModal')}}
      </div>
    </div>
  </div>
</div>

{{#if showAddInterventionModal}}
  {{add-intervention-modal onClose=(action 'hideAddInterventionModal')}}
{{/if}}

{{#if showAddHuddleModal}}
  {{add-to-huddle-modal patient=model defaultDate=defaultAddHuddleDate patientHuddles=huddles onClose=(action 'hideAddHuddleModal')}}
{{/if}}

{{#if showReviewPatientModal}}
  {{review-patient-modal patient=model huddle=ReviewPatientHuddle onClose=(action 'hideReviewPatientModal')}}
{{/if}}
