<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-circle" disabled="true"><i class="fa fa-user fa-fw pull-left"></i></button>
  </div>
  <div class="col-sm-5">
    <button {{action 'addParam' '/patientage'  }}>Test</button>Patient Age
    <br>
    Patient Gender
  </div>
</div>
