
<div class="filter row">
  <div class="col-xs-2">
    <h2><i {{bind-attr class=":fa :fa-fw icon"}}> </i></h2>
  </div>
  <button type="button" class="close" {{action "removePane"  model}} aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="col-xs-10">
    {{#each item in items}}
      {{#with item}}
      <div class="row">
        {{partial template}}
      </div>
      {{/with}}
    {{/each}}
  </div>
</div>
