<div class="container">
  <div class="title-panel">
    <span class="title-text">Populations</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel filter-type-panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Choose Populations</h3>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          {{#each population in content.populations}}
            {{#if population.name}}
              <div class="form-group">
                <label class="control-label">{{input type="checkbox" checked=population.selected action="populationChecked" }} {{population.name}}</label>
              </div>
            {{/if}}
          {{/each}}
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel filter-description-panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>View Results</h3>
        </div>
      </div>

      <div class="panel-body">
        {{#if patients}}
            {{#each patient in patients}}
              <div id="name">
                <i class="fa fa-user"></i>{{patient.fullName}}
              </div>
            {{/each}}
        {{else}}
          <span class="sub-text">Please select at least one population.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
