<div class="title-panel">
  <h1>Populations</h1>
</div>
<div class="container">
  <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#populationList" aria-expanded="true" aria-controls="collapseOne">
          Choose Populations
        </a>
      </h4>
    </div>
  <div class="collapse in" id="populationList">
    <div class="well">
      <form class="form-horizontal">
        {{#each population in content.populations}}
          {{#if population.name}}
            <div class="form-group">
              <label class="control-label">{{input type="checkbox" class="input-control" checked=population.selected action="populationChecked"}} {{population.name}}</label>
            </div>
          {{/if}}
        {{/each}}
      </form>
      <div class="form-group">
        <label class="control-label">{{#link-to "filters.new"}}Add New{{/link-to}}</label>
      </div>
    </div>
  </div>
  <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#resultsList" aria-expanded="true" aria-controls="collapseOne">
          View Results ({{selectedItemsCount}})
        </a>
      </h4>
    </div>
  <div class="collapse in" id="resultsList">
    <div class="well">
      <form class="form-horizontal">
        {{#each population in selectedItems}}
          {{#each patient in population.patients.patientids}}
            <i class="fa fa-user"></i>{{patient.fullName}}
          {{/each}}
        {{/each}}
      </form>
    </div>
  </div>
</div>
