<div class="container">
  <div class="title-panel">
    <span class="title-text">Populations</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    {{populations-list populations=model.populations}}
  </div>

  <div class="col-sm-9">
    <div class="panel filter-description-panel">
      <div class="panel-heading">
        <div class="panel-title">
          View Results
        </div>
      </div>

      <div class="panel-body">
        {{#each pat in patients}}
          {{pat.id}}
        {{/each}}
        {{#if selectedItems}}
            {{#each item in selectedItems}}
              {{#each patient in item.patients.patientids}}
                <div id="name">
                  <i class="fa fa-user"></i>{{patient.fullName}}
                </div>
              {{/each}}
            {{/each}}
        {{else}}
          <span class="sub-text">Please select at least one population.</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
